@font-face {
	font-family: 'TradeGothic Bold CondEighteen';
	src: url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.eot'); /* IE9 Compat Modes */
	src: url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.woff') format('woff'), /* Modern Browsers */
		url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/TradeGothic/TradeGothic-BoldCondTwenty.svg#410795b1606b847c744029f7bbd0c194') format('svg'); /* Legacy iOS */
	font-style:   normal;
	font-weight:  700;
}

@font-face {
	font-family: 'TradeGothic CondEighteen';
	src: url('../fonts/TradeGothic/TradeGothic-CondEighteen.eot'); /* IE9 Compat Modes */
	src: url('../fonts/TradeGothic/TradeGothic-CondEighteen.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/TradeGothic/TradeGothic-CondEighteen.woff') format('woff'), /* Modern Browsers */
		url('../fonts/TradeGothic/TradeGothic-CondEighteen.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/TradeGothic/TradeGothic-CondEighteen.svg#2f81282b06b2e034ef5618b6fa5d4b36') format('svg'); /* Legacy iOS */
	font-style:   normal;
	font-weight:  400;
}

