@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);
/* Begin Normalize Styling*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  line-height: 1.231;
}

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

a {
  color: #00e;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #06e;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

table button, table input {
  *overflow: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.placeholder {
  color: #8c8c8c !important;
}

/* End Normalize Styling*/
@font-face {
  font-family: 'TradeGothic Bold CondEighteen';
  src: url("../fonts/TradeGothic/TradeGothic-BoldCondTwenty.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TradeGothic/TradeGothic-BoldCondTwenty.eot?#iefix") format("embedded-opentype"), url("../fonts/TradeGothic/TradeGothic-BoldCondTwenty.woff") format("woff"), url("../fonts/TradeGothic/TradeGothic-BoldCondTwenty.ttf") format("truetype"), url("../fonts/TradeGothic/TradeGothic-BoldCondTwenty.svg#410795b1606b847c744029f7bbd0c194") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'TradeGothic CondEighteen';
  src: url("../fonts/TradeGothic/TradeGothic-CondEighteen.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/TradeGothic/TradeGothic-CondEighteen.eot?#iefix") format("embedded-opentype"), url("../fonts/TradeGothic/TradeGothic-CondEighteen.woff") format("woff"), url("../fonts/TradeGothic/TradeGothic-CondEighteen.ttf") format("truetype"), url("../fonts/TradeGothic/TradeGothic-CondEighteen.svg#2f81282b06b2e034ef5618b6fa5d4b36") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NeutraText-Light';
  src: url("../fonts/NeutraText/neutratext-light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/NeutraText/neutratext-light.eot?#iefix") format("embedded-opentype"), url("../fonts/NeutraText/neutratext-light.woff") format("woff"), url("../fonts/NeutraText/neutratext-light.ttf") format("truetype"), url("../fonts/NeutraText/neutratext-light.svg") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
}

/*
	START LANDING PAGE
*/
html, body {
  background: black;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
}

header {
  position: fixed;
  top: 100px;
  width: 100%;
  text-align: center;
  z-index: 100;
}
header #lockup {
  position: relative;
  padding: 2em;
  width: 460px;
  margin: 0 auto;
  background: rgba(51, 63, 69, 0.9);
}
header #lockup h1 {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: "NeutraText-Light", sans-serif;
  font-size: 5.3em;
  line-height: 0.9em;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}
header #lockup h2 {
  font-family: "NeutraText-Light", sans-serif;
  color: #a7a8a8;
  text-align: center;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: normal;
}
header #lockup h2 div {
  font-family: "NeutraText-Light", sans-serif;
  font-size: 0.7em;
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  text-align: center;
}
header #lockup h2 div img {
  top: 18px;
  position: absolute;
  width: 13px;
  height: 1px;
}
header #lockup h2 div #left {
  left: 35px;
}
header #lockup h2 div #right {
  right: 35px;
}
header #lockup h2 #date-black {
  color: black;
}
header #lockup h2 #date-white {
  color: white;
  opacity: 0;
}
header #lockup .listen-buy {
  font-family: "NeutraText-Light", sans-serif;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 20px auto 0;
  position: relative;
}
header #lockup .listen-buy .copy {
  position: relative;
  top: 3px;
}
header #lockup .listen-buy .icon {
  padding: 0 3px;
}
header #lockup .listen-buy .icon img {
  width: 24px;
}
header #lockup .listen-buy #rdio img {
  width: 26px;
}

#spacer {
  width: 100%;
  height: 1000px;
  display: block;
  background: url(../images/landing_bg3.jpg) 50% 0 no-repeat fixed;
}

#content {
  width: 100%;
  display: block;
  background: transparent;
  position: relative;
  z-index: 30;
  padding-top: 175px;
}
#content #content_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  top: 0px;
  left: 0;
}

#video_container_outer {
  width: 900px;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding: 0;
  z-index: 40;
}
@media only screen and (min-width: 1460px) {
  #video_container_outer {
    width: 1200px;
  }
}
@media only screen and (max-width: 1280px) {
  #video_container_outer {
    width: 66%;
  }
}
@media only screen and (max-width: 1024px) {
  #video_container_outer {
    width: 59%;
  }
}
@media only screen and (max-width: 860px) {
  #video_container_outer {
    width: 80%;
  }
}
#video_container_outer #video_container {
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  position: relative;
  padding-top: 56.25%;
  z-index: 25;
}
#video_container_outer #video_container iframe {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#socials {
  position: fixed;
  z-index: 35;
  width: 100%;
  margin: 0 auto;
  bottom: 0px;
  padding: 13px 0 8px;
  background-color: rgba(0, 0, 0, 0.6);
}
#socials ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#socials ul li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
  vertical-align: top;
}
#socials ul li:first-child {
  width: 49px !important;
  overflow: hidden;
  height: 20px;
  margin: 0 15px 0 0 !important;
}
#socials ul li:last-child {
  margin: 0 0 0 15px !important;
}

#watch {
  padding: 0 0 0 0;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 360px;
  z-index: 25;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
  text-transform: uppercase;
  color: black;
  letter-spacing: .1em;
  font-size: 1em;
}
#watch #play-video #play-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  top: -3px;
  left: 0;
}
#watch #play-video a {
  cursor: pointer;
  position: relative;
  color: #464646 !important;
  text-decoration: none !important;
}
